# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/
/vendor/

# Output files
*.exe
*.out

# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~

# Testing
*.test
*.tmp